/* flex layout basics */
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* css for mobile */
.map {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

.hamburger {
    width: 2%;
    margin: 2% 1% 0;
}

.hamline {
    width: 100%;
    height: 5px;
    background-color: #3b3a36;
    margin: 15% 0;
}

.thefilter {
    width: 33%;
    margin: 2% 0 0;
    font-size: large;
}

.menubar {
    background-color: white;
    height: 100px;
    width: 33%;
    -webkit-transform: translate(-600px, 0);
    transform: translate(-600px, 0);
    transition: transform 0.7s ease;
}

.menubar.open {
   -webkit-transform: translate(0, 0);
   transform: translate(0, 0);
}

.infobar {
    background-color: red;
    height: 100px;
    width: 33%;
    -webkit-transform: translate(+1200px, 0);
    transform: translate(+1200px, 0);
    transition: transform 0.7s ease;
}

.infobar.open {
   -webkit-transform: translate(+500px, 0);
   transform: translate(+500px, 0);
}

html, body {
    margin: 0;
    font-family: 'Forum', cursive;
    height: 100%;
    color: #3b3a36;
}

input {
    font-family: 'Source Code Pro', monospace;
    color: #3b3a36;
}