/* flex layout basics */
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* css for mobile */
.map {
    z-index: -1;
    position: absolute;
    height: 96%;
    width: 98%;
}

.hamburger {
    width: 8.333%;
}

.thefilter {
    width: 25%;
}

html, body {
    font-family: 'Forum', cursive;
    height: 98%;
}

input {
    font-family: 'Source Code Pro', monospace;
}